{% extends "base.html" %}

{% block content %}

<div class="container text-center py-5">
    <h1 class="display-4 fw-bold">Bemvindo</h1>
    <p class="lead">AULA AMIZADE PRATIKA DJANGO</p>
</div>

<div class="container py-5">
    <div class="row g-4 text-center">

        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Django</h5>
                    <p class="card-text">Django mak framework ida ba Python ne’ebé uza atu halo website ka web application ho lalais no seguru.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Framework</h5>
                    <p class="card-text">Framework mak estrutura ka sistema prontu ne’ebé ajuda developer atu halo programa ka website ho lalais no organizado.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">M.V.T</h5>
                    <p class="card-text">MVT mak estrutura iha Django atu organiza aplikasaun web.</p>
                    <ul>
                        <li>Model → gere dados / database</li>
                        <li>View → trata lógica no prosesu</li>
                        <li>Template → hatudu design (HTML)</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}